<?xml version="1.0"?>

<model>
  <name>conveyor</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Mohamed Ali Zouari</name>
    <email>mohamedalizouari.ai@mail.ru</email>
  </author>


  <maintainer email="mohamedalizouari.ai@mail.ru">Mohamed Ali Zouari</maintainer>


  <description>
    conveyor in warehouses.
  </description>
</model>
